In [1]:
import pandas as pd

Following excel file contains multiple sheets. These sheets can be accessed using .parse() method.

In [2]:
file = '../data/fMRI_CON.xlsx'
xls = pd.ExcelFile(file)

In [3]:
xls.sheet_names

['Demographics&Notes', 'STAI', 'SCORING', 'Current State']

Parse sheet "STAI"

In [7]:
df1 = xls.parse('STAI')

In [8]:
df1.head()

,DATE,SUBJECT ID,21,22,23,24,25,26,27,28,...,31,32,33,34,35,36,37,38,39,40
0,NaN,NaN,I feel pleasant,I feel nervous and restless,I feel satisfied with myself,I wish I could be as happy as other seem to be,I feel like a failure,I feel rested,"I am ""calm, cool, and collected""",I feel that difficulties are piling up so that...,...,I have disturbing thoughts,I lack self-confidence,I feel secure,I make decisions easily,I feel inadequate,I am content,Some unimportant tohught runs through my mind ...,I take dissapointments so keely that I Can't p...,I am a steady person,I get in a state of tension or turmoil as I th...
1,Controllable,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2017-03-23 00:00:00,CON_001,4,1,4,1,1,3,3,1,...,1,1,3,2,1,4,2,1,4,1
3,2017-04-03 00:00:00,CON_002,4,1,4,2,1,4,4,1,...,1,2,3,4,1,3,1,1,3,2
4,2017-04-04 00:00:00,CON_003,3,2,3,2,2,2,3,2,...,1,2,3,3,1,3,1,1,3,1

Parse sheet "SCORING" using index.

In [15]:
df2 = xls.parse(2)
df2.head()

,DATE,SUBJECT ID,21,22,23,24,25,26,27,28,...,32,33,34,35,36,37,38,39,40,SUM
0,NaN,NaN,I feel pleasant,I feel nervous and restless,I feel satisfied with myself,I wish I could be as happy as other seem to be,I feel like a failure,I feel rested,"I am ""calm, cool, and collected""",I feel that difficulties are piling up so that...,...,I lack self-confidence,I feel secure,I make decisions easily,I feel inadequate,I am content,Some unimportant tohught runs through my mind ...,I take dissapointments so keely that I Can't p...,I am a steady person,I get in a state of tension or turmoil as I th...,NaN
1,Controllable,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2017-03-23 00:00:00,CON_001,4,1,4,1,1,3,3,1,...,1,3,2,1,4,2,1,4,1,27.0
3,2017-04-03 00:00:00,CON_002,4,1,4,2,1,4,4,1,...,2,3,4,1,3,1,1,3,2,27.0
4,2017-04-04 00:00:00,CON_003,3,2,3,2,2,2,3,2,...,2,3,3,1,3,1,1,3,1,36.0

# **Introduction to relational database**

### **Querying data from a database**

import the connecting engine from sqlalchemy  
> from sqlalchemy import create_engine  

create an engine to connect to the database  
> engine = create_engine('sqlite:///Northwind.sqlite')

connect to the database  
> con = engine.connect()

Query the database. This gets all rows and all columns of table "Orders" from the database
> rs = con.execute("SELECT * FROM Orders")

the following turns the rs into a dataframe
> df = pd.DataFrame(rs.fetchall()) 

df does not contain column names; to assign column names to the df
> df.columns = rs.keys()

following close connection to the database
> con.close()


# To avoid forgetting to close the connection, use context manager
> with engine.connect() as con:  
>    rs = con.execute("SELECT OrderID, OrderDate FROM Orders")  
>    df = pd.DataFrame(rs.fetchmany(size=5))  
>    df.columns = rs.keys()  

in the execute method, specific column names can be specified instead of *.
even fetchmany(size=5) can be used to fetch only first 5 rows of the dataframe instead of # fetchall

### **Querying data from a database directly using pandas**

> pd.read_sql_query("SELECT * FROM Orders", engine)

### **Some use options that can be used with SELECT FROM command**

Selects all columns from table, selects only those records in which col1 is greater than or equal to 3, and orders the records by col2
> "SELECT * FROM table WHERE col1 >= 3 ORDER BY col2"

Selects all columns from table1 and table2 while doing an inner join on col1 of both the tables
> "SELECT * FROM table1 INNER JOIN table2 on table1.col1 = table2.col1"